@import "tailwindcss";

@font-face {
    font-family: "GothamBook";
    src: url("/GothamBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: var(--font-gotham), sans-serif;
  }